<section class="section">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="true"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="header">
        <mat-panel-title>Loja</mat-panel-title>

        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="form">
        <ng-container formArrayName="stores">
          <div
            class="myformArray"
            *ngFor="let control of getMyFormArray.controls; let i = index">
            <div class="content-form">
              Add FormArrays - {{ i }}
              <button type="button" (click)="remove(i)">
                Remover modalidade
              </button>
            </div>

            <ng-container [formGroupName]="i">
              <div class="dflex">
                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-100">
                  <mat-label>Modalidade</mat-label>
                  <mat-select class="form-control" formControlName="modalityId">
                    <mat-option *ngFor="let u of listModality" [value]="u.id">
                      {{ u.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Canais de Venda -->
              <div class="dflex" formArrayName="salesChannel">
                <ng-container
                  *ngFor="
                    let day of getSalesChannelFormArray(control).controls;
                    let key = index
                  ">
                  <ng-container [formGroupName]="key">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label>Canais de venda</mat-label>
                      <mat-select
                        class="form-control"
                        formControlName="salesChannelId">
                        <mat-option
                          *ngFor="let s of listSalesChannel"
                          [value]="s.salesChannelId"
                          (onSelectionChange)="selectedChannels($event)">
                          {{ s.salesChannelName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </div>

              <div class="dflex">
                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-50">
                  <mat-label>Código da Loja</mat-label>
                  <input
                    class="form-control"
                    matInput
                    placeholder="00-00"
                    formControlName="storeCode" />
                </mat-form-field>

                <mat-form-field
                  formGroupName="storeModality"
                  appearance="outline"
                  class="width-50">
                  <mat-label>Código do caixa</mat-label>
                  <input
                    class="form-control"
                    matInput
                    placeholder="99-99"
                    formControlName="cashierCode" />
                </mat-form-field>
              </div>

              <!-- Dias da semana -->
              <div class="dflex days" formArrayName="openingHours">
                <ng-container
                  *ngFor="
                    let day of getOpeningHoursFormArray(control).controls;
                    let key = index
                  ">
                  <ng-container [formGroupName]="key">
                    <div class="container-period">
                      <div
                        class="day-wrapper"
                        *ngFor="let item of periods; let i = index">
                        <a>
                          <mat-icon
                            class="icon"
                            [ngClass]="{
                              isSelected: isSelected === i,
                              styleIconOne:
                                item.initialTime === '' && item.endTime === '',
                              styleIconTwo:
                                item.initialTime !== '' && item.endTime !== '',
                              styleDisableDayIcon: disableDay
                            }"
                            >{{
                              item.initialTime === '' && item.endTime === ''
                                ? 'timer_off'
                                : 'timer'
                            }}
                          </mat-icon>
                        </a>

                        <a
                          class="button-period"
                          [ngClass]="{
                            isSelected: isSelected === i,
                            styleOne:
                              item.initialTime === '' && item.endTime === '',
                            styleTwo:
                              item.initialTime !== '' && item.endTime !== '',
                            styleDisableDay: disableDay
                          }"
                          (click)="onClickPeriods(item, i)">
                          {{ getDescription(item.dayWeek) }}
                        </a>
                      </div>
                    </div>
                    <!-- Periods Inputs -->
                    <div class="container-hours">
                      <mat-form-field appearance="outline">
                        <mat-label>Hora início</mat-label>
                        <input
                          id="initialTime"
                          matInput
                          type="time"
                          [disabled]="!clickedDay"
                          formControlName="initialTime"
                          (change)="onChangeTime($event, 'initialTime')" />
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Hora fim</mat-label>
                        <input
                          id="endTime"
                          matInput
                          type="time"
                          [disabled]="!clickedDay"
                          formControlName="endTime"
                          (change)="onChangeTime($event, 'endTime')" />
                      </mat-form-field>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </form>

      <button type="button" (click)="add()">Adicionar modalidade</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- <img src="assets/screenshot.png" alt="exemple image" width="1000" /> -->

<pre>{{ form.valid | json }}</pre>
<pre>{{ form.value | json }}</pre>
